In [1]:
# Given list of ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list and find the min and max age
sorted_ages = sorted(ages)
min_age = sorted_ages[0]
max_age = sorted_ages[-1]

# Add the min age and the max age again to the list
ages.append(min_age)
ages.append(max_age)

# Re-sort the updated list
sorted_ages = sorted(ages)

# Find the median age
n = len(sorted_ages)
if n % 2 == 0:
    median_age = (sorted_ages[n//2 - 1] + sorted_ages[n//2]) / 2
else:
    median_age = sorted_ages[n//2]

# Find the average age
average_age = sum(ages) / len(ages)

# Find the range of the ages
range_of_ages = max_age - min_age

print(f"Sorted ages: {sorted_ages}")
print(f"Min age: {min_age}")
print(f"Max age: {max_age}")
print(f"Median age: {median_age}")
print(f"Average age: {average_age}")
print(f"Range of ages: {range_of_ages}")

Sorted ages: [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
Min age: 19
Max age: 26
Median age: 24.0
Average age: 22.75
Range of ages: 7

In [2]:
# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, age to the dog dictionary
dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 5

# Create a student dictionary
student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 20,
    'marital_status': 'Single',
    'skills': ['Python', 'Java'],
    'country': 'USA',
    'city': 'New York',
    'address': '123 Main St'
}

# Get the length of the student dictionary
student_length = len(student)

# Get the value of skills and check the data type
skills = student['skills']
skills_type = type(skills)

# Modify the skills values by adding one or two skills
student['skills'].append('C++')
student['skills'].append('JavaScript')

# Get the dictionary keys as a list
student_keys = list(student.keys())

# Get the dictionary values as a list
student_values = list(student.values())

print(f"Dog dictionary: {dog}")
print(f"Student dictionary: {student}")
print(f"Length of student dictionary: {student_length}")
print(f"Skills: {skills}, Type: {skills_type}")
print(f"Student dictionary keys: {student_keys}")
print(f"Student dictionary values: {student_values}")

Dog dictionary: {'name': 'Buddy', 'color': 'Brown', 'breed': 'Labrador', 'legs': 4, 'age': 5}
Student dictionary: {'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 20, 'marital_status': 'Single', 'skills': ['Python', 'Java', 'C++', 'JavaScript'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}
Length of student dictionary: 9
Skills: ['Python', 'Java', 'C++', 'JavaScript'], Type: <class 'list'>
Student dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Student dictionary values: ['John', 'Doe', 'Male', 20, 'Single', ['Python', 'Java', 'C++', 'JavaScript'], 'USA', 'New York', '123 Main St']

In [3]:
# Create a tuple containing names of your sisters and brothers
sisters = ('Anna', 'Beth')
brothers = ('Chris', 'David')

# Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers

# Number of siblings
num_siblings = len(siblings)

# Modify the siblings tuple and add the name of your father and mother
family_members = siblings + ('Father', 'Mother')

print(f"Siblings: {siblings}")
print(f"Number of siblings: {num_siblings}")
print(f"Family members: {family_members}")

Siblings: ('Anna', 'Beth', 'Chris', 'David')
Number of siblings: 4
Family members: ('Anna', 'Beth', 'Chris', 'David', 'Father', 'Mother')

In [4]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set it_companies
len_it_companies = len(it_companies)

# Add 'Twitter' to it_companies
it_companies.add('Twitter')

# Insert multiple IT companies at once to the set it_companies
it_companies.update(['SAP', 'Salesforce'])

# Remove one of the companies from the set it_companies
it_companies.remove('Oracle')

# Difference between remove and discard
# remove will raise an error if the item is not found
# discard will not raise an error if the item is not found
it_companies.discard('Oracle')  # This will not raise an error

# Join A and B
A_union_B = A.union(B)

# Find A intersection B
A_intersection_B = A.intersection(B)

# Is A subset of B
A_subset_B = A.issubset(B)

# Are A and B disjoint sets
A_B_disjoint = A.isdisjoint(B)

# Join A with B and B with A (which is the same as union)
A_union_B = A.union(B)
B_union_A = B.union(A)

# Symmetric difference between A and B
A_sym_diff_B = A.symmetric_difference(B)

# Delete the sets completely
del A
del B

# Convert the ages to a set and compare the length of the list and the set
ages_set = set(age)
length_of_list = len(age)
length_of_set = len(ages_set)

print(f"Length of it_companies: {len_it_companies}")
print(f"it_companies after adding Twitter and removing Oracle: {it_companies}")
print(f"Union of A and B: {A_union_B}")
print(f"Intersection of A and B: {A_intersection_B}")
print(f"Is A subset of B: {A_subset_B}")
print(f"Are A and B disjoint sets: {A_B_disjoint}")
print(f"Symmetric difference between A and B: {A_sym_diff_B}")
print(f"Length of the list: {length_of_list}")
print(f"Length of the set: {length_of_set}")

Length of it_companies: 7
it_companies after adding Twitter and removing Oracle: {'IBM', 'Amazon', 'Apple', 'Twitter', 'Google', 'Microsoft', 'SAP', 'Salesforce', 'Facebook'}
Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
Symmetric difference between A and B: {27, 28}
Length of the list: 8
Length of the set: 5

In [5]:
import math

# Given radius
radius = 30

# Calculate the area of a circle
_area_of_circle_ = math.pi * radius ** 2

# Calculate the circumference of a circle
_circum_of_circle_ = 2 * math.pi * radius

print(f"Area of circle: {_area_of_circle_}")
print(f"Circumference of circle: {_circum_of_circle_}")

# Take radius as user input and calculate the area
user_radius = float(input("Enter the radius: "))
user_area_of_circle = math.pi * user_radius ** 2
print(f"Area of circle with radius {user_radius}: {user_area_of_circle}")

Area of circle: 2827.4333882308138
Circumference of circle: 188.49555921538757
Enter the radius: 25
Area of circle with radius 25.0: 1963.4954084936207

In [6]:
sentence = "I am a teacher and I love to inspire and teach people"

# Split the sentence into words and convert to set to get unique words
unique_words = set(sentence.split())

# Number of unique words
num_unique_words = len(unique_words)

print(f"Unique words: {unique_words}")
print(f"Number of unique words: {num_unique_words}")

Unique words: {'teach', 'and', 'a', 'people', 'love', 'teacher', 'I', 'inspire', 'am', 'to'}
Number of unique words: 10

In [7]:
print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [8]:
radius = 10
area = 3.14 * radius ** 2
print(f"The area of a circle with radius {radius} is {area} meters square.")

The area of a circle with radius 10 is 314.0 meters square.

In [9]:
# Read number of students
N = int(input("Enter the number of students: "))

# Read weights in lbs into a list
weights_lbs = []
for i in range(N):
    weight = float(input(f"Enter weight of student {i+1} in lbs: "))
    weights_lbs.append(weight)

# Convert weights to kilograms
weights_kgs = [round(w * 0.453592, 2) for w in weights_lbs]

print(f"Weights in lbs: {weights_lbs}")
print(f"Weights in kgs: {weights_kgs}")

Enter the number of students: 5
Enter weight of student 1 in lbs: 155
Enter weight of student 2 in lbs: 145
Enter weight of student 3 in lbs: 148
Enter weight of student 4 in lbs: 160
Enter weight of student 5 in lbs: 152
Weights in lbs: [155.0, 145.0, 148.0, 160.0, 152.0]
Weights in kgs: [70.31, 65.77, 67.13, 72.57, 68.95]